<html>

<head>
  <title>Futures Fund Level II Curriculum</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/styles.css">
</head>

<body>
  <header>
    <a href="/">
      <img src="{{site.baseurl}}/img/header-logo.png">
      <h1>The Futures Fund Level II Curriculum</h1>
    </a>
  </header>

  <hr>

  <ul>
    <li><a href="/lesson-01">Lesson 1</a></li>
    <li><a href="/lesson-02">Lesson 2</a></li>
    <li><a href="/lesson-03">Lesson 3</a></li>
    <li><a href="/lesson-04">Lesson 4</a></li>
    <li><a href="/lesson-05">Lesson 5</a></li>
    <li><a href="/lesson-06">Lesson 6</a></li>
    <li><a href="/lesson-07">Lesson 7</a></li>
    <li><a href="/lesson-08">Lesson 8</a></li>
  </ul>

  <hr>

  <article>
    {{ content }}
  </article>
</body>

</html>
